<div class="padded">
	<h1>Account</h1>
	<ul class="errors">
	
	</ul>
	<form id="accountForm" action="">
		<div class="formCol">
			<label for="first_name">first name</label>
			<input id="first_name" name="first_name" type="text" value="<%= first_name %>" />
			<label for="last_name">last name</label>
			<input id="last_name" name="last_name" type="text" value="<%= last_name %>" />
			<input id="submit" type="submit" value="Save" />
			<br>
			<span class="saved">saved.</span>
		</div>
	</form>
</div>