<div class="padded">
	<h1>Signup</h1>
	<ul class="errors">
	
	</ul>
	<form id="signupForm" action="">
		<div class="formCol">
			<label for="email">email</label>
			<input id="email" name="email" type="text" value="" />
			<label for="first_name">first name</label>
			<input id="first_name" name="first_name" type="text" value="" />
			<label for="last_name">last name</label>
			<input id="last_name" name="last_name" type="text" value="" />
			<label for="password">password</label>
			<input id="password" name="password" type="password" value="" />
			<label for="repeat_password">repeat password</label>
			<input id="repeat_password" name="repeat_password" type="password" value="" />
			<input id="submit" type="submit" value="Start Timing" />
		</div>
	</form>
</div>